

.pets-page {
  /* overflow: auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
}

.Petcard {
  width: 30vw;
  margin-top: 20px;
  border: 2px solid rgb(16, 31, 93);
  border-radius: 20px;

  
}

.pet-cardImage {
  width: 100%;

}

img {
  /* width: 30vw; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.line-item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}

.line-item h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
  margin-right: 10px;
 
}

.line-item p {
  font-size: 16px;
  margin: 0;
}

.ReviewList-item{
  border-top: 2px groove #d3d3d3;
 
}

.reviewsContainer{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}


.petbutton-container{
  padding: 20px;
  align-items:baseline;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.pet-button{

  display: flex;
  
  background-color: rgb(130, 118, 124);
  justify-content: space-between;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  

}


.UserProfile-card-image{
  /* vertical-align: middle; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 40px;
 align-items: baseline;
  background-color: rgb(188, 153, 153);

  
  
  }