.calender-contain{
   
}

.pet-headcontainer{
    /* display: flex; */
    justify-content: center;  
}
.pet-dateheader{
    justify-content: center; 
    padding-top: 40px;
    padding-left: 25%;
    font-weight: 300;
}



/* .info-sections{
    justify-content: center; 
    padding-left: 80px;
    padding-top: 10px;
justify-content: space-evenly;
     /* display: flex; */
  

.pickup-header{
    padding-bottom: 10px;
}


.divider {
    display: inline-block;
    width: 2px;
    background-color:  pink;
    margin: 0 10px;
    height: 10em;

  }

  .dropoff-header{
    padding-bottom: 10px;
  }

  .date-detailhead{
    padding-top: 20px;
  }

.bookingpage{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    
    padding-left: 450px;
    padding-top: 30px;
   
   

}

.bookingcards{
   
   align-items: flex-end;
    width: 30vw;
    padding-top: 70px;
    padding-left: 70px;
  

}

.edit-del{
    padding-left: 75%;
  display: flex; 
  justify-content: space-around;
}

.tool-button{
    background-color:white;
    border: white
   
}

.tool-message{
    border-color: black;
}

.cancel-button{
    background-color:white;
    border: white
}

.react-calendar{
    
  width: 50vw;
  height: 20vw;
  background-color: pink;
  

}

.react-calendar__navigation__arrow {
    color: deeppink;
}
.react-calendar__month-view__weekdays{
    color: deeppink
}

.react-calendar__navigation__label{
    color: deeppink;
} 
.mb-3{
   display: flex;
   justify-content: center;


}
.bookingform-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space;
    background-color: pink;
    height: 45vw;
    
}
.booking-form{

    padding: 10px;
   
}
.bckbooking-btn{
    background-color: pink;
    border:pink;
    padding-left: 11vw;
    padding-top: 2vw;
}
.btnbck-container{
    background-color: pink;
}
.form-petname{
    font-weight: 300;
}
.pickup-button{
    padding-top: 15px; 
   
  
}
.drop-button{
   
    padding: 15px; 
}
.user-start{
    padding-top: 10px;
    font-style: oblique;
    font-size: large;

}

.user-end{
    font-style: oblique;
    font-size: large;
    padding-top: 10px; 
}

.drop-button{
    padding-top: 15px ;
    padding-bottom: 25px ;
  /* padding: 10px; */
    
}



.present-box{
    padding: 20px;
}
