
.bookingpage{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    
    padding-left: 450px;
    padding-top: 30px;
   
   

}

.bookingcards{
   
   align-items: flex-end;
    width: 30vw;
    padding-top: 70px;
    padding-left: 70px;
  

}

.edit-del{
    padding-left: 75%;
  display: flex; 
  justify-content: space-around;
}

.tool-button{
    background-color:white;
    border: white
   
}

.tool-message{
    border-color: black;
}

.cancel-button{
    background-color:white;
    border: white
}

.react-calendar{
    
  width: 50vw;
  height: 20vw;
  background-color: pink;
  

}

.react-calendar__navigation__arrow {
    color: deeppink;
}
.react-calendar__month-view__weekdays{
    color: deeppink
}

.react-calendar__navigation__label{
    color: deeppink;
} 
.mb-3{
   display: flex;
   justify-content: center;


}
.booking-form{

    padding: 10px;
   
}

.pickup-button{
    padding: 20px; 
}

.drop-button{
  padding: 20px;
    
}
.pick-location{
    padding: 10px;
}

.present-box{
    padding: 20px;
}
