    .homepage{
          display: flex;
    justify-content: center;
    justify-content: baseline;
    padding: 425px;
   
 
    }

    .homepagecard{
        width: 30vw;
    height: 30vw;
    border: 2px groove rgb(68, 65, 66); 
    box-shadow: rgb(55, 54, 55);
    border-radius: 10px; 
    background-color: deeppink; 
    box-shadow: rgb(190, 25, 151);
    justify-content: space-around;
   

    }
    .hometext{
        align-items: center;
        font: bold;
        padding: 80px;

        color: rgb(25, 3, 15);  
    }


    .lglink{
        display: flex;
        justify-content: center;
    flex-direction: row-reverse;
      
      
       
    }
    .logbtn{
        /* padding-left: 10vw; */
        /* padding-bottom: 20px; */
        padding: 10px;
        justify-content: center;
    }

    .signbtn{
        padding: 10px;
        /* padding-right: 10vw; */
    }
    /* .homebttn{
        justify-content: center;
    padding-left: 5vw;
    padding-bottom: 20vw;
 
       
       
    } */
/* 
    p{
        align-items: center;
        font: bold;
        padding: 80px;

        color: rgb(25, 3, 15);
    }  */