.pets-page {
    /* overflow: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
  }
  
  .Petcard {
    width: 30vw;
    height: 50vw;
    margin-top: 20px;
    border: 2px solid rgb(16, 31, 93);
    border-radius: 20px;
    overflow: scroll
    
  }
  
  .pet-cardImage {
    width: 100%;
  
  }
  
  img {
    /* width: 30vw; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  
  }
  
  .line-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    
  }
  
  .line-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 4px;
    margin-right: 10px;
   
  }
  
  .line-item p {
    font-size: 16px;
    margin: 0;
  }
  .line-item{
    flex-direction: row;
  }
  
  .ReviewList-item{
    border-top: 2px groove #d3d3d3;
    padding: 10px;
  
  }
  
  .reviewsContainer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    flex-direction: row;
  }
  
  
  .petbutton-container{
    padding: 20px;
    align-items:baseline;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
  }
  .pet-button{
  
    display: flex;
    
    background-color: rgb(130, 118, 124);
    justify-content: space-between;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    
  
  }
  /* .bookbtn-container{
    display: flex;
    justify-content: space-between;
  } */
.trash-container{
  display: flex;
  padding-left: 300px;
}
.trash-btn{
  /* width: 20%; */
  background-color: white;
  justify-content: space-between;
  border: white
  /* margin-left: 100px; */
  /* padding-bottom: 50px; */
  /* align-items: baseline; */
}