/* .user-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly; 
    align-items: center;

} */

/* .user-img-container{
    display: flex;
  justify-content: flex-start;
  padding: 20px
} */


/* .user-carImage{ 
    vertical-align: middle;
     width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 40px;
    justify-content: space-evenly;
    background-color: rgb(188, 153, 153); */

    /* padding: 5px; */

/* }  */

/* .user-card-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
   
} */
/* .User-card{
    width: 30vw;
    height: 20vw; */
    /* border: 2px groove #eee;  */
    /* box-shadow: black; */
    /* border-radius: 10px;  */
     

  /* background-color: #f8f9fa; */
/* } */
/* .userpetscontainer{
    display: flex; */
    /* flex-wrap: wrap; */
 
    /* justify-content:flex-start;
    flex-direction: row;
    padding-left: 4vw;
  justify-content: space-around;
 
    
} */
 /* .user{
    flex-direction: row;
   
    width: 15vw;
 
  ;
  margin-top: 20px;
  border: 2px solid  rgb(176, 4, 139);
  border-radius: 20px;
  box-shadow: pink;
  width: 300px;
 
  box-sizing: border-box;
  
 
  
 } */
 /* .userpet-cardImage {
    width: 100%;
 }
 

 .line-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
 }   

 /* .boxreviewscontainer{
  width: 20vw;
  height: 10vw;
  border: 2px groove #eee; 
  box-shadow: black;
  border-radius: 10px; 
  align-self: center;
 
 } */

 .userpet-cardImage {
  width: 100%;
 }

 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius:  20px; 
  border-bottom-left-radius: 20px;
}
.pet-intro{
  font-style: oblique;
  padding-top: 20px;
  
}


.UserProfile-card-image{
  vertical-align: middle;
   width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 40px;
 align-items: baseline;
  background-color: rgb(188, 153, 153);


  }
  

  .profile-imgbutton{
    padding-top: 20px;

  }


  .outterbackground{
    background-color: #eee;
  }

  .profilecontainer{
    justify-content: center;
    align-items: center;

    /* h-100" */
  }
  .white-space{
    color:white
  }
  .col{
    l: 9; 
  }

  .ms-3{
    margin: 60px;

    align-items: center
  }
.userimage{
  display: flex;
  padding-bottom: 15px;
  background-color: pink;
  height: 200px ;
  padding-top: 20px;
  padding-left: 20px;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
}


.city{
  padding-left: 30px;
  font-size: large;
  font-weight: 200;
}
.infoblock{
  display: flex;
  justify-content: end;
  margin-right: 20vw ;
  background-color: pink;
  /* justify-content: center; */
}
.infoblockcontainer{
  padding-top: 20px;
  padding-left: 20px;
  background-color: pink;

}

.imageModal{
  display: flex;
  background-color: pink;
  justify-content: center;
  /* width: 80px;
  height: 80px; */
}

.upload-header{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding-top: 15px;
  padding-left:20px ;
}
.upload-inputcontainer{
  padding-left:20px ;
  padding-bottom: 20px;
}

.upload-backbttn{
  padding-right:22vw;
  padding-top: 15px;
  background-color: pink;
  border: pink;
}

.edit-upload{
  width: 25vw;
  
}

.userpet-cardImage{
  /* padding: 100px; */
  width:fit-content
  
}
.image{
  width: 100%;
  height: 110%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}


.userpet-cardImage{
  width: 50%;
  height: 110%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
/* img{
  width: 100%;
  height: 110%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
} */

.petedit-form{
  display: flex;
  justify-content: center;
 width: 55vw;
 height: 40vw;
  background: pink;
}


.peteditheader{
 

  padding-top: 3vw;
  padding-right: 20vw;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  /* padding-left: 4%;
  padding-top: 10%; */
}

.p-4{
  display: flex;
  /* align-items: center; */
  
}
.back-editabout{
  display: flex;
  justify-content: center;
  background-color: pink;
  border-color: pink;
}

.about-modal{
  padding-left:15px ;
  background-color: pink;

}

.abt-btn{
  justify-content: end;
}

.abt-backbttn{
  padding-right:23.5vw;
  padding-top: 15px;
  background-color: pink;
  border: pink;
}

.about-editheader{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding-top: 10px;
  padding-left:20px ;
}
.input-abtme{
  padding-right:25vw ;
  width: 20vw;
  height: 10vw;

}

.save-abtBttn{
  padding-left:20px ;
  padding-bottom: 35px;
  padding-right: 25px;

}

.pet-editbtn{
  padding: 20px;
}

.edit-bckbtn{
  display: flex;
  padding-top: 20px;
  background-color: pink;
  border: pink;

}
.edit-textarea{
  width: 15vw;
  border-color: black;
  padding: 5px;
}

.someContainer{
  display: flex;
  justify-content: end;
}

.exit-button{
  width: 10vw;
  height: 10%
}
.addPet {
  width: 10%;
  
  align-items: end
}

.newpet-formholder{
  background-color: rgb(228, 190, 196);
 
}

.header{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  padding-left: 4%;
  padding-top: 10%;
}
.mb-3{
  padding: 20px;
  overflow: scroll;

  justify-content: center;

  /* display: flex; */
}
/* 
.form-control{
  width: 15vw;
  border-color: black;
} */

.form-label{
  color: black;
  font: bolder;
}

.form-check-input{
  border-color: black;
}



.info-btn{
  padding-left: 30px;
}
.addpetbtn{
 padding-top: 20px;
}


.pet-imgeditBttn{
  display: flex;
 
  padding-left: 650px;
}
.petbutton-container{
 align-items: start;

}
.pet-remove-btn{
  padding-bottom: 10px;
  padding-left: 30px;
  justify-content: end;
}